<script>
import { GlColumnChart } from '@gitlab/ui/dist/charts';
import { GlAlert } from '@gitlab/ui';
import { GlSingleStat } from '@gitlab/ui/dist/charts';
import { GlAreaChart } from '@gitlab/ui/dist/charts';
import { __ } from '~/locale';
import { GlChart } from '@gitlab/ui/dist/charts';
import { GlHeatmap } from '@gitlab/ui/dist/charts';
import { GlBroadcastMessage } from '@gitlab/ui';
export default {
    components: {
        GlColumnChart,
        GlAlert,
        GlSingleStat,
        GlAreaChart,
        GlChart,
        GlHeatmap,
        GlBroadcastMessage
    },
    props: ['user_score_bar', 'project_score_line', 'user_contribute_pie', 'process_score_heatmap', 'evaluation_score_number', 'total_issue'],
    data() {
        return {
            user_bar: {
                bars: [{
                    name: "full",
                    data: this.user_score_bar
                }],
                xAxisTitle: __('Score'),
                yAxisTitle: __('User'),
                xAxisType: 'category'

            },
            project_line: {
                data: [{
                    name: "score",
                    data: this.project_score_line
                }],
                option: {
                    xAxis: {
                        name: __("Date"),
                        type: "category"
                    }
                }
            },
            user_pie: {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '5%',
                    left: 'center'
                },
                series: [
                    {
                        name: 'Contribute Score',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: false,
                                fontSize: 40,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: this.changeFormat(this.user_contribute_pie)
                    }
                ]
            },
            project_heatmap: {
                data_series: this.calculateDate(this.process_score_heatmap)
            }
        }
    },
    methods: {
        changeFormat(oldValue) {
            let items = []
            let item = {}
            oldValue.forEach(element => {
                item["name"] = element[0]
                item["value"] = element[1].toFixed(2)
                items.push(item)
                item = {}
            });
            return items
        },
        calculateDate(dateValue) {
            console.log(dateValue)
            let weekArray = new Array("0", "1", "2", "3", "4", "5", "6");
            let lastDay = new Date(dateValue[dateValue.length - 1][0])
            let firstDay = new Date(dateValue[0][0])
            let days = (lastDay - firstDay) / (1 * 24 * 60 * 60 * 1000)
            let fromTopToBottom = true
            console.log(days)
            if (days < (5 * 7)) fromTopToBottom = false
            let weekDay
            let res = []
            let row = 0
            if (!fromTopToBottom) {
                weekDay = weekArray[firstDay.getDay()]
                weekDay = Number(weekDay)
                let pres = []
                for (var i = 0; i < days + 1; i++) {
                    if (weekDay + i > 6) {
                        weekDay = weekDay - 7
                        row = row + 1
                    }
                    pres.push(weekDay + i)
                    pres.push(row)
                    pres.push(dateValue[i][1].toFixed(1))
                    res.push(pres)
                    pres = []
                }
            }
            console.log(res)
            return res;
        }
    }
}
</script>
<template>
    <div>
        <div class="mb-6 position-relative">
            <h3 class="mb-3">Check code</h3>
            <h4 class="sun-header">This page show check code results in this repository</h4>
            <div class="row">
                <div class="col-8">
                    <p>Inspection results affect the quality of the program.<br />In this page, we calculated the project
                        quality
                        score of
                        each member, the quality score of the whole project, and we evaluated the whole project based on the
                        project
                        promotion ability and team cooperation. The following is our evaluation result</p>
                </div>
            </div>
            <div class="position-absolute right-top change-css">
                <gl-broadcast-message iconName="bullhorn" theme="indigo" type="notification">
                    The new feature we developed has officially launched!<br />
                    Check out our code review and project quality measurement features now!
                </gl-broadcast-message>
            </div>
        </div>

        <div class="mb-6 border-top border-2">
            <div class="mt-3">
                <h4 class="sub-header mb-3">Project Issues</h4>
                <div class="row mb-6">
                    <div class="col-2">
                        <gl-single-stat title="Blocker Issues" :value="this.total_issue[1]" unit="" variant="danger"
                            :titleIcon="null" titleIconClass="" metaIcon="cancel" metaText="" :shouldAnimate="false"
                            :animationDecimalPlaces="0" />
                    </div>
                    <div class="col-2">
                        <gl-single-stat title="Critical Issues" :value="this.total_issue[2]" unit="" variant="danger"
                            :titleIcon="null" titleIconClass="" metaIcon="severity-info" metaText="" :shouldAnimate="false"
                            :animationDecimalPlaces="0" />
                    </div>
                    <div class="col-2">
                        <gl-single-stat title="Major Issues" :value="this.total_issue[3]" unit="" variant="warning"
                            :titleIcon="null" titleIconClass="" metaIcon="severity-info" metaText="" :shouldAnimate="false"
                            :animationDecimalPlaces="0" />
                    </div>
                    <div class="col-2">
                        <gl-single-stat title="Minor Issues" :value="this.total_issue[4]" unit="" variant="info"
                            :titleIcon="null" titleIconClass="" metaIcon="severity-info" metaText="" :shouldAnimate="false"
                            :animationDecimalPlaces="0" />
                    </div>
                    <div class="col-2">
                        <gl-single-stat title="Info Issues" :value="this.total_issue[5]" unit="" variant="success"
                            :titleIcon="null" titleIconClass="" metaIcon="severity-info" metaText="" :shouldAnimate="false"
                            :animationDecimalPlaces="0" />
                    </div>
                </div>
            </div>
            <div>
                <h4 class="sub-header mb-3">Process Overview</h4>
                <div class="row">
                    <div class="col-2">
                        <gl-single-stat title="Process Score" :value="this.evaluation_score_number.toFixed(2)" unit=""
                            variant="warning" titleIcon="" metaIcon="dashboard" metaText="Medium level"
                            :shouldAnimate="false" :animationDecimalPlaces="0" />
                    </div>
                    <div class="col-2">
                        <gl-single-stat title="Total Diff Line" :value="this.total_issue[0]" unit="" variant="muted"
                            :titleIcon="null" titleIconClass="" metaIcon="highlight" metaText="" :shouldAnimate="false"
                            :animationDecimalPlaces="0" />
                    </div>
                </div>
            </div>

        </div>
        <div class="mb-6 border-top border-2">
            <h4 class="sub-header mt-6">User Contribute Score</h4>
            <gl-alert title="" :dismissible="false" showIcon dismissLabel="Dismiss" variant="info" primaryButtonLink=""
                primaryButtonText="" secondaryButtonLink="" secondaryButtonText="" :sticky="false">
                This will show every users contribute score to this project. According to their total commits and code
                quailty
            </gl-alert>
            <GlColumnChart :bars="user_bar.bars" :xAxisTitle="user_bar.xAxisTitle" :yAxisTitle="user_bar.yAxisTitle"
                :xAxisType="user_bar.xAxisType"> </GlColumnChart>
        </div>
        <div class="mb-6 border-top border-2">
            <h4 class="sub-header mt-6">Project Quality Score</h4>
            <gl-alert title="" :dismissible="false" showIcon dismissLabel="Dismiss" variant="info" primaryButtonLink=""
                primaryButtonText="" secondaryButtonLink="" secondaryButtonText="" :sticky="false">
                This will show every users contribute score to this project. According to their total commits and code
                quailty
            </gl-alert>
            <gl-area-chart :data='project_line.data' :option='project_line.option' :thresholds="[]" :annotations="[]"
                includeLegendAvgMax :height="null" :legendSeriesInfo="[]" />
        </div>
        <div class="mb-6 border-top border-2 ">

            <h4 class="sub-header mt-6">Comprehensive evaluation</h4>
            <div class="mt-4">
                <div class="row text-center justify-content-between">
                    <div class="col-6">
                        <h5 class="mb-0"> Cooperation situation</h5>
                        <div class="mt-1">
                            <gl-chart :options='user_pie' />
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="position-relative">
                            <h5 class="mb-0"> Project progress</h5>
                            <div class="position-absolute right-top">
                            </div>
                        </div>
                        <gl-heatmap :options="{}" :dataSeries='project_heatmap.data_series'
                            :xAxisLabels='["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]' :yAxisLabels='[1, 2, 3, 4, 5]'
                            xAxisName="Day" yAxisName="Week" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template >

<style scoped>
.right-top {
    right: 0;
    top: 0
}

.change-css>>>div div svg {
    transform: rotateY(180deg);
}

.change-css>>>div button svg {
    display: none;
}
</style>
