<script>
import { GlTableLite } from '@gitlab/ui';
import { __ } from '~/locale';
import { GlCollapse } from '@gitlab/ui';
import { GlButton } from '@gitlab/ui'
export default {
    components: {
        GlTableLite,
        GlCollapse,
        GlButton
    },
    props: ['check_results', 'commit_log'],
    data() {
        return {
            scroll_count: 10,
            rowDataVisible: false
        }
    },
    methods: {
        changeRowDataVisible() {
            this.rowDataVisible = !this.rowDataVisible
        }
    },
    computed: {
        fields_1() {
            return [
                {
                    key: 'column_two',
                    label: __('Blocker'),
                    thClass: 'w-10p text-center',
                    tdClass: 'table-col text-center'
                },
                {
                    key: 'column_three',
                    label: __('Critical'),
                    thClass: 'w-10p text-center',
                    tdClass: 'table-col text-center'
                },
                {
                    key: 'column_four',
                    label: __('Major'),
                    thClass: 'w-10p text-center',
                    tdClass: 'table-col text-center'
                },
                {
                    key: 'column_five',
                    label: __('Minor'),
                    thClass: 'w-10p text-center',
                    tdClass: 'table-col text-center'
                },
                {
                    key: 'column_six',
                    label: __('Info'),
                    thClass: 'w-10p text-center',
                    tdClass: 'table-col text-center'
                },
                {
                    key: 'column_seven',
                    label: __('Date  '),
                    thClass: 'w-35p text-center',
                    tdClass: 'table-col text-center'
                },
                {
                    key: 'column_eight',
                    label: __('Email'),
                    thClass: 'w-15p text-center',
                    tdClass: 'table-col text-center'
                },
            ]
        },
        fields_2() {
            return [{
                key: 'column_one',
                label: __('Author Name'),
                thClass: 'w-15p  text-center',
                tdClass: 'table-col text-center'
            },
            {
                key: 'column_two',
                label: __('Email'),
                thClass: 'w-35p text-center',
                tdClass: 'table-col text-center'
            },
            {
                key: 'column_three',
                label: __('Date'),
                thClass: 'w-35p text-center',
                tdClass: 'table-col text-center'
            },
            {
                key: 'column_four',
                label: __('Diff Lines'),
                thClass: 'w-15p text-center',
                tdClass: 'table-col text-center'
            }]
        },
        items_1() {
            let items = [];
            let item = {};
            this.check_results.forEach(element => {
                item["column_two"] = element.blocker
                item["column_three"] = element.critical
                item["column_four"] = element.major
                item["column_five"] = element.minor
                item["column_six"] = element.info
                item["column_seven"] = element.date
                item["column_eight"] = element.author_email
                items.push(item);
                item = {}
            });
            return items;
        },
        items_2() {
            let items = [];
            let item = {};
            this.commit_log.forEach(element => {
                item["column_one"] = element.author_name
                item["column_two"] = element.author_email
                item["column_three"] = element.date
                item["column_four"] = element.diff_line_count
                items.push(item);
                item = {}
            });
            return items
        }
    },

}

</script>
<template>
    <div class="mt-6">
        <div class="border-top border-2 ">
            <h4>Raw Data for Graphs</h4>
            <gl-button class="row ml-0 mb-6" category="primary" @click="changeRowDataVisible">
                Toggle Collapse
            </gl-button>
            <GlCollapse :visible="rowDataVisible">
                <div class="row justify-content-between mb-6 text-center">
                    <div class="col-6">
                        <h5>Check Results</h5>
                        <GlTableLite :items="items_1" :fields="fields_1"></GlTableLite>
                    </div>
                    <div class="col-5">
                        <h5>Commit Logs</h5>
                        <GlTableLite :items="items_2" :fields="fields_2"></GlTableLite>
                    </div>
                </div>
            </GlCollapse>
        </div>
    </div>
</template>