- page_title _('Check Code')


#check-code-chart{data:{total_issue:@total_issue,user_score_bar:@all_users, project_score_line:@perday_score, user_contribute_pie:@user_contri,process_score_heatmap:@process_score,evaluation_score_number:@evaluation_score}}
#check-code-raw-data{data:{check_results: @check_results.to_json.html_safe, commit_log: @commit_log.to_json.html_safe}}
//#js-check-code-bar-chart-1
//#js-check-code-heatmap-1